*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

:root{
    --primary-color:#FFAD00;
    --secondary-color:#2f2e41;
    --white-page-background-color:#ffffff;
    --text-black-color:#333333;
    --text-white-color:#ffffffeb;
    --grey-border-color:#9790908a;
}

body{
    font-family: 'Nunito Sans', sans-serif;
}

a{
    text-decoration: none;
}