
/* margin */
.m-1{
    /* 8px */
    margin: 0.5rem; 
}
.m-2{
    /* 16px */
    margin: 1rem;
}
.m-3{
     /* 24px */
     margin: 1.5rem;
}
.m-4{
     /* 32px */
     margin: 2rem;
}
.m-5{
     /* 40px */
     margin: 2.5rem;
}
.m-6{
     /* 48px */
     margin: 3rem;
}

/* padding */
.p-1{
    /* 8px */
    padding: 0.5rem; 
}
.p-2{
    /* 16px */
    padding: 1rem;
}
.p-3{
     /* 24px */
     padding: 1.5rem;
}
.p-4{
     /* 32px */
     padding: 2rem;
}
.p-5{
     /* 40px */
     padding: 2.5rem;
}
.p-6{
     /* 48px */
     padding: 3rem;
}

/* padding-left */
.pl-1{
    padding: 0.5rem; 
}
.pl-2{
    padding: 1rem;
}
.pl-3{
     padding: 1.5rem;
}
.pl-4{
     padding: 2rem;
}
.pl-5{
     padding: 2.5rem;
}
.pl-6{
     padding: 3rem;
}
/* padding-right */


.pr-1{
    padding: 0.5rem; 
}
.pr-2{
    padding: 1rem;
}
.pr-3{
     padding: 1.5rem;
}
.pr-4{
     padding: 2rem;
}
.pr-5{
     padding: 2.5rem;
}
.pr-6{
     padding: 3rem;
}
/* padding-top */
.pt-1{
    padding: 0.5rem; 
}
.pt-2{
    padding: 1rem;
}
.pt-3{
     padding: 1.5rem;
}
.pt-4{
     padding: 2rem;
}
.pt-5{
     padding: 2.5rem;
}
.pt-6{
     padding: 3rem;
}
/* padding-bottom */
.pb-1{
    padding: 0.5rem; 
}
.pb-2{
    padding: 1rem;
}
.pb-3{
     padding: 1.5rem;
}
.pb-4{
     padding: 2rem;
}
.pb-5{
     padding: 2.5rem;
}
.pb-6{
     padding: 3rem;
}
/*Typography - heading */
h1{
    font-size:3rem ;
    font-weight: 600;
}

h2{
   font-size: 2rem;
   font-weight: 600;
}

h3{
   font-size: 1.5rem;
   font-weight: 600;
}
h4{

}
h5{

}
/*Typography - text */

