/* margin */
.m-1 {
  /* 8px */
  margin: 0.5rem;
}
.m-2 {
  /* 16px */
  margin: 1rem;
}
.m-3 {
  /* 24px */
  margin: 1.5rem;
}
.m-4 {
  /* 32px */
  margin: 2rem;
}
.m-5 {
  /* 40px */
  margin: 2.5rem;
}
.m-6 {
  /* 48px */
  margin: 3rem;
}
/* margin-left */
.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 1rem;
}
.ml-3 {
  margin-left: 1.5rem;
}

.ml-4 {
  margin-left: 2rem;
}
.ml-5 {
  margin-left: 2.5rem;
}
.ml-6 {
  margin-left: 3rem;
}

/* margin-right */
.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 1rem;
}
.mr-3 {
  margin-right: 1.5rem;
}

.mr-4 {
  margin-right: 2rem;
}
.mr-5 {
  margin-right: 2.5rem;
}
.mr-6 {
  margin-right: 3rem;
}
/* margin-top */
.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}
.mt-3 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 2rem;
}
.mt-5 {
  margin-top: 2.5rem;
}
.mt-6 {
  margin-top: 3rem;
}
/* margin-bottom */
.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}
.mb-3 {
  margin-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 2rem;
}
.mb-5 {
  margin-bottom: 2.5rem;
}
.mb-6 {
  margin-bottom: 3rem;
}

/* padding */
.p-1 {
  /* 8px */
  padding: 0.5rem;
}
.p-2 {
  /* 16px */
  padding: 1rem;
}
.p-3 {
  /* 24px */
  padding: 1.5rem;
}
.p-4 {
  /* 32px */
  padding: 2rem;
}
.p-5 {
  /* 40px */
  padding: 2.5rem;
}
.p-6 {
  /* 48px */
  padding: 3rem;
}

/* padding-left */
.pl-1 {
  padding-left: 0.5rem;
}
.pl-2 {
  padding-left: 1rem;
}
.pl-3 {
  padding-left: 1.5rem;
}
.pl-4 {
  padding-left: 2rem;
}
.pl-5 {
  padding-left: 2.5rem;
}
.pl-6 {
  padding-left: 3rem;
}
/* padding-right */

.pr-1 {
  padding-right: 0.5rem;
}
.pr-2 {
  padding-right: 1rem;
}
.pr-3 {
  padding-right: 1.5rem;
}
.pr-4 {
  padding-right: 2rem;
}
.pr-5 {
  padding-right: 2.5rem;
}
.pr-6 {
  padding-right: 3rem;
}
/* padding-top */
.pt-1 {
  padding-top: 0.5rem;
}
.pt-2 {
  padding-top: 1rem;
}
.pt-3 {
  padding-top: 1.5rem;
}
.pt-4 {
  padding-top: 2rem;
}
.pt-5 {
  padding-top: 2.5rem;
}
.pt-6 {
  padding-top: 3rem;
}
/* padding-bottom */
.pb-1 {
  padding-bottom: 0.5rem;
}
.pb-2 {
  padding-bottom: 1rem;
}
.pb-3 {
  padding-bottom: 1.5rem;
}
.pb-4 {
  padding-bottom: 2rem;
}
.pb-5 {
  padding-bottom: 2.5rem;
}
.pb-6 {
  padding-bottom: 3rem;
}
/*Typography - heading */
h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
h4 {
}
h5 {
}
/*Typography - text */
small {
  font-size: 0.8rem;
}
