@import "../base.css";
@import "../utility.css";
.btn {
  cursor: pointer;
  padding: 8px 1rem;
  margin: 1rem 8px;
  border-radius: 5px;
  border: 1px solid transparent;
  text-align: center;
  
}
.btn-primary:hover,.btn-secondary:hover,.btn-success:hover,.btn-danger:hover,.btn-warning:hover {
  border: 2px solid var(--grey-border-color);
  box-shadow: 5px 5px var(--grey-border-color);
}

/* Default buttons */
.btn-primary {
  background-color: var(--component-primary-color);
}

.btn-secondary {
  background-color: var(--component-secondary-color);
}
.btn-success {
  background-color: var(--component-success-color);
}
.btn-danger {
  background-color: var(--component-error-color);
}

.btn-warning {
  background-color: var(--component-warning-color);
}


.button-container{
    margin: 2rem 0rem;
    justify-items: center;
}