@import "./base.css";
@import "./utility.css";


.card-container{
    background-color: var(--component-warning-color);
    border-radius: 10px;
}
.card{
    position: relative;
    display: flex;
    border:1px solid var(--card-border-color);
    border-radius: 5px;
    margin: 1rem;
    word-wrap: break-word;
    background-color: var(--white-page-background-color);
    color: var(--black-text-color);

}
.card-body{
    display: flex;
    flex-direction: column;
}
/* card horizontal */
.card.hori-card{
height: 13.53rem;
}
.card-img-hori{
    width: 40%;
    height: 100%;
}

.card-img-hori .img-hori{
    border-radius: 5px 0px 0px 5px;
}


/* card vertical */
.card-vert{
    width:18rem;
}
.card-img-vert{
    border-radius: 5px 5px 0px 0px;
    max-width: 18rem;
}

.card-body .btn-card{
    margin:0 1rem 1rem 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btn-size{
    width: 10rem;
}

.discount-price{
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.orignal-price{
    text-decoration: line-through;
    color: var(--text-grey-color);
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1;
}
.card-btn-icon{
    margin-right: 10px;
}


.card-title{
    margin-top: 0.75rem;
    margin-bottom: 5px;
    padding:5px 0px 3px 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    color:var(--black-text-color);
}


.card-subtitle{
    color:var(--text-grey-color);
    padding-left: 1rem;
    font-weight: bold;
    font-size: 0.925rem;
}


.card-text{
    padding:10px 1rem 0.75rem 1rem;
    font-size: 0.9rem;
}

.price-container{
padding:0 1rem 1rem 1rem;
}
/* text-only card */
.vert-card{
    width: 20rem;
}

/* card-shadow */
.card-shadow{
    box-shadow:  0 6px 1.25rem 0 var(--black-box-shadow);
}

/* card-badge */
.icon-red{
    color:var(--component-error-dark);
}
.add-to-fav{
    top:10px;
    right:-15px;
    width:2.25rem;
    height:2.25rem;
    background-color: var( --white-page-background-color);
    
}

.add-to-fav:hover{
    cursor: pointer;
    background-color: var(--component-error-color);
}

.icon-red:hover{
    color:var(--black-text-color);
}

.cancel-card{
    top:5px;
    right:5px;
    width:2.25rem;
    height:2.25rem;    
}

.cancel-card:hover{
    cursor: pointer;
    background-color: var(--white-page-background-color);
}

/* overlay card */

.card-overlay{
    position:absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: var(--card-border-color);
    opacity: 0.8;
}
.overlay-card-content{
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color:var(--component-error-dark)
}
.badge-overlay{
    position:absolute;
    right:5px;
    top:5px;
}