.col-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 5px;
}

.col-2-shrink {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 5px;
}

.col-2-stretch {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-column-gap: 5px;
}
