.col-2 {
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-column-gap: 5px;
}

.col-2-shrink {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-column-gap: 5px;
}

.col-2-stretch {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-column-gap: 5px;
}

.col-3 {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-column-gap: 5px;
}

.col-3-left-expand {
  display: grid;
  grid-template-columns: 3fr 1.5fr 1.5fr;
  grid-column-gap: 5px;
}

.col-3-middle-expand {
  display: grid;
  grid-template-columns: 1.5fr 3fr 1.5fr;
  grid-column-gap: 5px;
}

.col-3-right-expand {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 3fr;
  grid-column-gap: 5px;
}
