
 @import "./base.css";
 @import "./utility.css";

 .typography-container{
    margin: 2rem 0rem;
    justify-items: center;
    background-color: var(--component-secondary-color);
    padding: 2rem;
    border-radius: 10px;
 }